@page "/"
            <a href="#" title="" class="topbutton">^Наверх</a>
            <a href="https://www.nsu.ru/n/">
                <span style="color:white;font-size:20px;">Информбюро 2022</span>
                </a>
                <a href="https://www.nsu.ru/n/">
                    <span style="margin-left:8px;padding:20px;">
                        НГУ
                    </span>
                </a>
                <a href="https://ssyp.ru/">
                    <span style="margin-left:8px;">
                        ЛШЮП
                    </span>
                </a>
                <a href="">
                    <span class="text">
                        Политка конфидициальности
                    </span>
                </a>
